.buyAuthentic {
    padding: 60px 130px 0;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 60px;
  }
  
  .pageTitle {
    font-size: 74px;
    font-weight: bold;
    text-align: center;
    /* margin-bottom: 20px; */
  }
  
  .content {
    line-height: 1.3;
  }
  
  .subtitle {
    font-size: 32px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .content p {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 1.3;
  }
  
  .content a {
    text-decoration: none;
  }
  
  
  .videoSection {
    padding: 20px 0;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  
  .title {
    font-size: 32px;
    font-weight: bold;
    /* margin-bottom: 20px; */
  }
  
  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
  }
  
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  

  .container {
    display: flex;
    align-items: center;
    /* padding: 0 20px; */
    max-width: 1200px;
    margin: 10px auto;
    font-family: 'Arial, sans-serif';
    
  }
  
  .left {
    flex: 1;
    text-align: center;
    padding: 0 20px;
  }
  
  .right {
    flex: 1;
    padding: 20px;
    text-align: left;
  }
  
  .imageTitle{
    font-size: 30px;
    line-height: 1;
  }
  .description {
    font-size: 22px;
    line-height: 1;
  }
    