
.banner {
    position: relative;
    width: 100%;
    height: 45vh;
    background: url('https://ucarecdn.com/1bede79d-fb0a-482a-bfc8-9c95e5bef989/-/format/auto/-/preview/3000x3000/-/quality/lighter/Banner%20Patybox310-02.png') no-repeat center center/cover;
    display: flex;
    align-items: left;
    justify-content: left;
  }
  
  .bannerText {
    position: absolute;
    top: 55%;
    left: 32%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: white;
  }
  
  .bannerText h1 {
    font-size: 60px;
    margin: 0;
  }
  
  .bannerText p {
    font-size: 30px;
    margin: 0;
  }
  