.accessoriesBanner {
    position: relative;
    width: 100%;
    height: 40vh; /* Adjust height as needed */
    background-image: url('https://ucarecdn.com/1d5411a4-d3e2-4fdd-9357-e87f9c304088/-/format/auto/-/preview/2560x2560/-/quality/lighter/Banner-Acsesories.jpg'); /* Adjust path to your image */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    margin-top:50px;
  }
  
  .bannerContent {
    margin-left: 50px;
  }
  
  .bannerTitle {
    font-size: 48px;
    font-weight: bold;
    color: white;
  }
  